  body {
  	font-family: Arial, sans-serif;
  	margin: 0;
  	padding: 0;
  	background-color: #f4f4f4;
    color: #333333;
  }


body.dark-mode {
	font-family: Arial, sans-serif;
  	margin: 0;
  	padding: 0;
    background-color: #1a1a1a;
    color: #ffffff;
   
}


  header {
  	background-color: #333;
  	color: #fff;
  	padding: 15px;
  	text-align: center;
  }

  nav {
  	display: flex;
  	justify-content: center;
  	background-color: #555;
  	padding: 10px;
  }

  nav a {
  	color: #fff;
  	text-decoration: none;
  	padding: 10px 20px;
  	margin: 0 10px;
  	border-radius: 5px;
  	transition: background-color 0.3s;
  }

  nav a:hover {
  	background-color: #777;
  }

  section {
  	max-width: 600px;
  	padding: 20px;
  	padding-left: 100px;	
  }



  @media screen and (max-width: 600px) {
  	nav {
  		flex-direction: column;
  		align-items: center;
  	}

  	nav a {
  		margin: 5px 0;
  	}
  }



  #light-mode-icon {
  	width: 30px; 
  	display: block;
  }

  #dark-mode-icon {
  	width: 30px; 
  	display: none;
  }

  body.dark-mode #light-mode-icon {
  	display: none;
  }

  body.dark-mode #dark-mode-icon {
  	display: block;
  }

input[type=text]:focus {
  background-color: lightblue;
}