  body {
  	font-family: Arial, sans-serif;
  	margin: 0;
  	padding: 0;
  	background-color: #f4f4f4;
    color: #333333;
  }


body.dark-mode {
	font-family: Arial, sans-serif;
  	margin: 0;
  	padding: 0;
    background-color: #1a1a1a;
    color: #ffffff;
}


header {
  background-color: #333;
  color: #fff;
  padding: 15px;
  text-align: center;
  max-height:5.75em;
}

header.dark-mode{
  background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
}

.navigare {
    display: flex;
    justify-content: center;
    background-color: #555;
    padding: 10px;
}

.navigare a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navigare a:hover {
    background-color: #777;
}


  section {
    display: grid;
  	max-width: 600px;
  
  	
  }

.context{
    display: grid;
    max-width: 600px;
    padding: 20px;
    height: 300px;
    background-color: gray;
    text-align: center;
    border-radius: 30px;
}


  @media screen and (max-width: 600px) {
  	nav {
  		flex-direction: column;
  		align-items: center;
  	}

  	nav a {
  		margin: 5px 0;
  	}
  }



  #light-mode-icon {
  	width: 30px; 
    position: relative;
    top:5px;
  	display: block;
  }

  #dark-mode-icon {
  	width: 30px; 
    position: relative;
    top:5px;
  	display: none;
  }

  body.dark-mode #light-mode-icon {
  	display: none;
  }

  body.dark-mode #dark-mode-icon {
  	display: block;
  }



.resizable-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  border: 7px solid black;
}

.dark-mode .resizable-image {
  border-color: white; 
}




.content {
  display: inline-block;
  max-height: 3em;
}

.content h2 {
  color: #fff;
  font-size: 50px;
  position: relative; 
}


.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px black;
    top: -0.5em; 
}



.dark-mode .content h2:nth-child(1) {
 -webkit-text-stroke: 2px white;
}




.animat {
    opacity: 0;
    transform: translateY(50px); 
    transition: opacity 1s, transform 1s;
}

.misca {
    opacity: 1;
    transform: translateY(0);
}

.spin {
    animation: spin 6s;
}

@keyframes spin {
    0% {
        transform:  scaleX(0.0) scaleY(0.0);
    }
    
    100% {
        transform:  scaleX(1) scaleY(1);
    }
   
  
}



.stanga{
  position: relative;
  left:100px;
}

.dreapta{
  position: relative;
  right:-800px;
}


@media screen and (max-width: 600px) {
  .animat {
    margin-top: 1em; 
  }

  .stanga, .dreapta {
    position: relative;
    left: auto;
    right: auto;
    width: 100%; 
  }

  .context {
    text-align: center;
  }
}







/* animatie fundal */


@import url('https://fonts.googleapis.com/css?family=Exo:400,700');



.area{
  position: absolute;
  z-index: -2;
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:4000px;

}


.circles{
  z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:3832px;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -650px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

.circles li:nth-child(11){
    left: 28%;
    width: 210px;
    height: 210px;
    animation-delay: 2s;
}


.circles li:nth-child(12){
    left: 13%;
    width: 50px;
    height: 40px;
    animation-delay: 4s;
    animation-duration: 12s;
}

.circles li:nth-child(13){
    left: 67%;
    width: 30px;
    height: 30px;
    animation-delay: 9s;
}

.circles li:nth-child(14){
    left: 55%;
    width: 600px;
    height: 600px;
    animation-delay: 12s;
    animation-duration: 18s;
}

.circles li:nth-child(15){
    left: 49%;
    width: 25px;
    height: 25px;
    animation-delay: 5s;
}

.circles li:nth-child(16){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 8s;
}

.circles li:nth-child(17){
    left: 5%;
    width: 150px;
    height: 150px;
    animation-delay:21s;
}

.circles li:nth-child(18){
    left: 80%;
    width: 41px;
    height: 41px;
    animation-delay: 1s;
    animation-duration: 45s;
}

.circles li:nth-child(19){
    left: 90%;
    width: 70px;
    height: 70px;
    animation-delay: 9s;
    animation-duration: 28s;
}

.circles li:nth-child(20){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}


@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-4000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}





























